[2013-10-10 12:01] jedschneider opened #1 "bootstrapping without existing docs generated fails"
fails with stacktrace

[code]

I assume this is because I haven't created documentation for apitome to render, however even though the RAD gem is in the gemspec I do not seem to have access to the rake task needed to run the generator. Maybe there needs to be some specification in the README on how to get the docs created initially? Once i expressly install the RAD gem in my Gemfile, I have access

[2013-10-21 20:21] Aerlinger opened #2 "no generator apitome:install"
Rails doesn't detect the generator `generator apitome:install`

[2013-10-21 21:58] #2 closed, assigned to nobody

[2013-10-21 22:00] #1 closed, assigned to nobody

[2013-12-23 13:09] Spone opened #8 "Do not rely on Asset Pipeline"
It would be nice not to rely on Rails' Asset Pipeline, so Apitome could be used with [rails-api](https://github.com/rails-api/rails-api).

[2013-12-23 19:42] #8 closed, assigned to nobody

[2014-01-30 18:41] curtisolson opened #9 "README Suggestion"
Some additional comments on configuration would be useful and here is my suggestion. I'm fairly new to ruby and finding the place to make these changes took more than time than I'd like to admit.

Great work! Apitome makes my api docs look great.
# Configuration

After installation, your app will have an apitome initializer (app/config/initializers/apitome.rb). You will find the following paramete

[2014-01-30 21:06] #9 closed, assigned to nobody

[2014-01-31 13:04] marcosgugs opened #10 "Apitome::FileNotFound on Linux"
We have this problem when access Apitome on Linux.
In osx work great. But in linux we have this error:

[code]

[2014-02-03 14:57] samnang opened #11 "Generate documentation on disks"
Do you think it is a good idea generate documentation on disks by running a rake task? Some people who don't want to serve documentation on their web server, then they can upload files to S3, and also they don't have to add the gem into production group.

[2014-04-21 16:52] pivotalartemis opened #13 "apitome and jruby"
Apitome in its current version doesn't work with jruby since it relies on the github-markdown gem which is not compatible with jruby due to it's c-extensions.

We've created a [fork](https://github.com/pivotalartemis/apitome) and replaced [github markdown](https://rubygems.org/gems/github-markdown) with [kramdown](https://rubygems.org/gems/kramdown) which makes it jruby compatible.

Let us know if

[2014-04-23 16:52] #13 closed, assigned to nobody

[2014-04-28 19:43] curtisolson opened #16 "Two document roots?"
RAD allows you to create groups and send those Examples to different folders. I'd like to be able to support a Public and a Private folder with a separate README.md for each. Is that possible?

[2014-06-26 02:08] mooreniemi opened #18 "use apitome for an endpoint to host fixtures for jasmine"
i modded apitome in my fork:

https://github.com/mooreniemi/apitome/blob/master/app/controllers/apitome/docs_controller.rb

so that i can have a client app hit the end point for live fixtures in jasmine tests. i'll let you know when i have an example client app capable of doing so.

[2014-07-21 15:27] mooreniemi opened #21 "invalid attributes examples?"
as apitome generates the docs, this is how they come out organized on the sidebar (having clicked PoolingLocation as an example):

README
BusinessHoursSchedule
InventoryTransaction
PoolingLocation
DELETE /pooling_locations/:id
GET /pooling_locations
GET /pooling_locations/:id
invalid POST /pooling_locations
invalid PUT /pooling_locations/:id
valid POST /pooling_locations
valid PUT /pooling_locatio

[2014-07-30 10:57] jogaco opened #22 "Restrict access to docs"
I'd like to restrict access to the documentation to logged-in users. I use devise for authentication. I guess this is not implemented, right?

[2014-07-30 21:09] #22 closed, assigned to nobody

[2014-10-02 20:12] sdornan opened #24 "Left nav pane gets truncated when there are lots of resources"
See attached image. Is it possible to make the left nav pane scrollable?

![screen shot 2014-10-02 at 3 08 23 pm](https://cloud.githubusercontent.com/assets/563517/4497554/25e70b7e-4a70-11e4-90c5-531b6223e1bd.png)

[2014-10-13 16:51] jogaco opened #25 "response_fields not rendered"
I have included some response_fields in my rspec_api_documentation tests.
The rake task generates the html and json files with these response_fields. However, apitome will not render them.

[2014-10-14 20:55] mooreniemi opened #26 "consider using different markdown library to make apitome runnable in jruby"
As far as I can tell, the only thing holding it back from compatibility is that the markdown parser you use has a C extension. If you took that dependency off or offered an alternative for jruby platform, it'd probably work in both.

[2014-10-15 10:58] #25 closed, assigned to nobody

[2014-10-21 00:08] chrishough opened #28 "undefined method `size' for nil:NilClass"
If I attempt to override the `_example.html.erb` with:

[code]

Apitome blows up...

I have to remove:

[code]

to fix the issue.. thoughts?

[2014-10-21 03:01] #28 closed, assigned to nobody

[2014-11-26 14:08] jonathanpa opened #31 "HTTP Basic auth"
I have configured an HTTP basic auth on my `app/controllers/application_controller.rb` but apitome doesn't take it into account. How to configure my HTTP basic auth to work with apitome ?

Thanks

[2014-11-28 13:33] jogaco opened #32 "undefined method `assets' for #<Rails::Engine::Configuration:0x0000000431ae58>"
Great gem.
Unfortunately, after upgrading to get the cool new features, I got this exception for any rake task I launch:

    rake aborted!
    NoMethodError: undefined method `assets' for #<Rails::Engine::Configuration:0x0000000431ae58>
    /home/user/.rvm/gems/ruby-2.1.2@myproject/gems/railties-3.2.18/lib/rails/railtie/configuration.rb:85:in `method_missing'
    /home/user/.rvm/gems/ruby-2.1.2@m

[2014-12-02 11:05] arthur-feral opened #33 "Carriage return in parameters description"
Hi,

I'm using rspec_api_documentation with apitome.
I'm wondering if it's possible to break line in parameters description:

[code]

I tried adding both '\n' antislash n and '< br />' br html tag but all the content display in one line.

Thanks for possible help !

[2014-12-03 09:14] jogaco opened #34 "ActionView::Template::Error default.css isn't precompiled"
This is what I get in production environment:

[code]

[2014-12-03 10:21] jogaco opened #36 "Too much route configuration when extending apitome controller"
I am extending apitome controller in order to implement authorization for accessing the api docs, as discussed in #22 and #31 :

[code]

In order to not pollute the routes, I need to add these entries in routes.rb with the current implementation of partial rendering:

[code]

Example of such apitome partial rendering:

[code]

I am happy to implement a more generic solution. For instance, another

[2015-01-03 11:41] mrbrdo opened #37 "Put spec/dummy/log to gitignore"
There are log files in there that are not needed in the repository.

[2015-01-03 11:41] mrbrdo opened #38 "code_theme?"
Is code_theme configuration option really implemented? It doesn't seem to work, and looking at the code I don't see where it's really used.

Thanks

[2015-01-09 16:59] simonasdev commented on #32
Bump

[2015-01-16 18:36] jedschneider opened #39 "uninitialized constant RspecApiDocumentation (NameError) when running tests"
seems like just require aiptome in the gemfile isn't enough to get the other libs loaded. i tried a variety of things like loading `raddocs` and `rspec_api_documentations/dsl` but, nothing. Rails version 4.1.9. rspec 3.1.7

[2015-01-16 20:48] jejacks0n commented on #39
strange, we're using it on the project I'm working on and it's fine.. do you have the same problem with master?

[2015-01-16 20:53] jedschneider commented on #39
I'm bundling from the github master branch

[2015-01-16 21:02] jedschneider commented on #39
thanks @jejacks0n for patiently walking me through a vim :hankey: issue

[2015-01-16 21:02] #39 closed

[2015-01-19 20:51] zofrex opened #40 "assets option for install generator defaulting to true"
I'm pretty sure (but please correct me if I'm wrong) that when invoking `generate apitome:install`, the --assets option is supposed to default to false (based on reading the code). However, for me it's true by default:

[code]

To a new user, having css and js files dropped in my /public folder was quite confusing, it took me a while to figure out if I could delete them or not.

[2015-01-21 14:59] zofrex commented on #26
Has this been fixed? It's working fine in JRuby for me.

[2015-01-21 15:41] zofrex opened #41 "URLs aren't being encoded correctly"
### Steps
- Name an example something with [] characters in it, such as "[deprecated] login via MySpace"
- Set single-page mode to false
- Browse to documentation in Chrome
- Click on the link to your example
### Expected behaviour

See the documentation page for the example.
### Actual behaviour

I get a "Bad Request" error page served from WEBrick.
### Notes
- This doesn't happen in Firefox, whi

[2015-01-21 15:53] jejacks0n commented on #26
Yes.

---
Jeremy Jackson

[2015-01-28 23:35] #32 closed

[2015-03-11 15:20] tecnobrat opened #42 "Simulate URLs broken when you mount the Engine yourself."
If you use `config.mount_at` as nil, and then mount the engine yourself in your routes (because you want it behind authentication), all of the paths to the new simulate endpoints are 404s (they link to `/simulate` instead of `/where/you/mounted/simulate`)

Perhaps we need a 2nd config option for "do not mount automatically"?  Then mount_at can still be used for figuring out the similation path?

[2015-04-10 19:55] chrishough opened #44 "hide specs"
I have been trying to figure out if Apitome has a config option on a spec that would skip it during generation instead of just generating all feature specs?

[2015-04-10 21:15] jejacks0n commented on #44
Checkout the readme on rspec_api_documentation. https://github.com/zipmark/rspec_api_documentation -- `document: false`

[2015-04-10 21:15] #44 closed

[2015-04-15 14:57] joncursi opened #45 "How to Change Layout to Custom Rails Template?"
I'm trying to make `app/views/layouts/application.html.erb` the default layout container. I see this is done here: https://github.com/modeset/apitome/blob/master/lib/generators/apitome/install/templates/initializer.rb#L20

 However, this...
`config.layout = 'app/views/layouts/application.html.erb'`
... does not seem to work:

[code]
What is the proper entry for this config key? Thanks!

[2015-04-15 16:43] jejacks0n commented on #45
I think you'd just want to change it to "application".

[2015-04-15 16:43] #45 closed

[2015-04-22 13:44] joncursi commented on #45
@jejacks0n okay, that seems to be the correct way to call the application layout. However, `application.html.erb` has references to other partials (i.e. header, footer) to help build out the overall template, and it seems like Apitome can't load those?

For example, it contains a reference as such: `<%= render partial: 'head' %>` which is causing this error: `Missing partial apitome/docs/_head`

[2015-04-23 05:56] joncursi commented on #38
+1

[2015-04-23 05:57] joncursi commented on #38
Not sure how to get Monokai Sublime theme to work. Putting in `'monokai_sublime'` doesn't seem to do the trick

[2015-05-27 18:19] AlexParamonov opened #49 "Password protection?"
Hello, Is there a way to add basic auth protection to the docs page?

[2015-05-27 19:15] AlexParamonov commented on #49
FYI: i went with nginx `ngx_http_auth_basic_module` for now

[2015-05-27 22:02] jejacks0n commented on #49
something like devise and putting the route inside an authentication check would probably be the most sensible, but http basic auth seems reasonable too, given your needs.

[2015-05-27 22:02] #49 closed

[2015-07-12 17:37] xdmx opened #50 "Single page = false causes "undefined method `gsub' for nil:NilClass""
I've been using apitome with a single page until today.

Since it's starting to take some time to load the page I've changed the single_page in the initializer to false.

I can load the api home, but when I click on a link in the menu (eg `http://localhost:3000/api/docs/activities/fetch_an_activity`) it throws `undefined method 'gsub' for nil:NilClass`

[code]

This is the content of `example` in

[2015-07-23 08:12] thibaudgg opened #51 "Any online deployment to see?"
I'm curious about how apitome look, we're currently using [slate](https://github.com/tripit/slate) and I'm kind of bored to write our docs manually.

[2015-07-31 08:35] aakashd commented on #51
@thibaudgg you can check our setup at https://ecom-docs-staging.frankross.in/

There are few issues, but I couldn't find anything better than this.

[2015-07-31 08:58] thibaudgg commented on #51
@aakashd thanks!

[2015-07-31 09:37] aakashd commented on #50
@xdmx moving to master solved this problem for me. I also could not mount apitome on `/` for multipage layout. I had to mount it on non root path.

But it worked.

[2015-07-31 18:15] jejacks0n commented on #50
Happy to take PRs for these things -- I released apitome as a simple strategy that can be built on, but if you're using it and want to build more into it, I'm happy to merge those things.

[2015-08-02 12:46] xdmx commented on #50
Master fixed it for me as well, thanks!

[2015-08-06 07:22] kevintraver commented on #16
👍

[2015-08-12 10:36] fespinoza commented on #36
i think it should be like that, according to http://stackoverflow.com/questions/22993608/how-to-protect-rspec-api-documentation-apitome-route-without-a-controller/25060055#25060055

you need to set `mount_at = nil` to be able to overwrite the controller

[2015-09-24 23:22] rpocklin commented on #16
I'd really love to see this feature :)

[2015-10-06 12:16] alexandrz opened #57 "Docs generated by multiple apps"
I want to show api docs for different microservices on a single page. Is it possible to archive that using apitome?

[2015-10-14 13:30] kevinjalbert commented on #50
If master has this fixed should there be a new release at some point soon? I just got bit from this and had to look around to find this issue.

[2015-10-23 12:46] sugarfree1 commented on #34
+1

[2015-10-31 22:40] ceritium commented on #16
+1

[2015-11-02 11:54] jogaco commented on #36
mount_at is already set to nil. Check #22

[2015-11-12 04:13] davidstosik commented on #36
Hello,
I'm having a related problem. Following the [StackOverflow link above](http://stackoverflow.com/questions/22993608/how-to-protect-rspec-api-documentation-apitome-route-without-a-controller/25060055#25060055), and adding my own twist, I did this:

[code]

[code]

[code]

It seemed to work perfectly: my doc is accessible at `localhost:3000/api/doc`, and users who are not logged in, or do not

[2015-11-15 14:53] openface commented on #24
We're hitting this issue as well. Is it possible to group/collapse resources via namespaces?

[2015-12-16 11:07] yogeshjain999 opened #60 "FileNotFoundError when single_page is false"
I changed `config.single_page` from `true` to `false`, and it started giving `Apitome::FileNotFoundError`.

`params` are coming as,

[code]

I've set doc description as "5. Getting list of subscription plans", and link for it is generating like

`/api/docs/businesses/5._getting_list_of_subscription_plans`.

Seems that, `.` in description is causing the issue.

Thoughts ? I can send patch for it, i

[2015-12-17 18:31] openface commented on #16
+1

[2015-12-31 10:57] pramodshinde commented on #24
I was facing same issue with single page, after updating(#61) page works fine if lots of resources loaded on single page.

[2016-01-05 09:12] rafaelsales commented on #36
If you use Devise, there's a simpler way:
[code]

[2016-01-05 09:19] davidstosik commented on #36
@rafaelsales I use Devise, and your suggestion is interesting, but it won't allow to authorize with custom rules (Roles or whatever).

[2016-01-05 09:48] rafaelsales commented on #36
You can always customize a constraint. Read: http://api.rubyonrails.org/classes/ActionDispatch/Routing/Mapper/Scoping.html#method-i-constraints

[2016-01-07 20:13] #24 closed

[2016-01-18 12:14] rpocklin opened #63 "Upgrade highlightjs"
This awesome library uses highlightjs but it's a much older version than current.  Would be great to get the new theme styles in.  Some templates may need to be changed - not sure if directly including the assets is the best way to go though.

[2016-03-15 22:02] acrogenesis commented on #16
This would be awesome :+1:

[2016-04-12 19:34] andyhite commented on #16
I've submitted a pull request that addresses this, but in a slightly different way than recommended in [this comment](https://github.com/modeset/apitome/issues/16#issuecomment-58765701).

Here's the pull request: https://github.com/modeset/apitome/pull/65, with instructions in the description.

[2016-04-26 10:32] andriiNyzhnik opened #67 "Translation namespace"
Move translations into some namespace(e.x. **apitome**), as they are overriden by app where is being used. I can make PR for that.

[2016-09-02 07:46] longkt90 commented on #67
I'm about to request this too, it makes my docs look like a mess. I have these strings in I18n locale file:

[code]

Then every single document request will have this

{:duration=>{:brief=>"Brief", :intermediate=>"Intermediate", :comprehensive=>"Comprehensive", :up_to=>"(up to %{minutes} mins)", :more_than=>"(more than %{minutes} mins)"}}

@andriiNyzhnik Do you still want to work on this?

[2016-09-02 07:53] andriiNyzhnik commented on #67
@longkt90 I have already created PR #68 , but is hasn't been merged.

[2016-09-02 08:09] longkt90 commented on #67
Thanks, I didn't see your pull request. I commit one myself for our internal use.

btw, is there any different between `<%= t(:body, scope: :apitome) %>` and <%= t('apitome.body') %> which I just replace all, see my commit  https://github.com/RingMD/apitome/commit/8f7ffa9f027066128d0ae1c0f5c17682f3aa6b3a ?

IMHO your codes look nicer.

[2016-09-02 08:11] andriiNyzhnik commented on #67
@longkt90 No. There is no difference. Just code style.

[2016-09-02 08:16] longkt90 commented on #67
OK. Thank you a lot. I thought I missed something.

[2016-10-18 14:34] Dschee commented on #38
Good question, not working for me either.

[2016-12-04 14:35] davidstosik commented on #63
👍

[2016-12-04 14:36] davidstosik commented on #38
Same here with multiple themes.
Looks like the CSS files are included in the wrong order, and the highlight.js theme's CSS properties are getting overridden by Bootstrap's CSS...

[2016-12-05 00:36] DrSayre commented on #40
I think this can be closed.  I had a similar issue and it does not say there is a default when I ran the help command:
[code]

[2016-12-20 10:44] #67 closed

[2016-12-20 10:46] andriiNyzhnik opened #75 "Remove rspec_api_documentation from runtime dependency"
We don't need to have **rspec_api_documentation** gem in runtime dependency. It would be better to use it in development dependency. [PR](https://github.com/jejacks0n/apitome/pull/76) has been already created.

[2016-12-22 13:01] jonmast commented on #63
I think this is fixed?

[2017-02-09 04:42] lovishchoudhary commented on #16
Any way to implement this multiple roots things in apitome ?

[2017-02-19 18:37] #75 closed

[2017-03-16 22:53] griley commented on #36
This worked for me with Devise where I have a `User` object that responds to `staff?`

[code]

If the user is not authenticated or doesn't have the role of staff, then a `RoutingError` will occur when `/api/docs` is requested.

[2017-03-17 14:07] jogaco commented on #36
@griley and @rafaelsales @fespinoza : what about simulate path links in apitome docs?

Apitome uses these internally:
[code]

[2017-03-17 15:44] griley commented on #36
@jogaco I'm not seeing any issues with the generated docs in my configuration, but I can see where the code for the  'simulated response' link you cited would be a problem.

If the Apitome engine routes where written as so:
[code]
It would be possible then to write that 'simluated response' link like this:

[code]

I've never written a Rails Engine and haven't looked deep into the Apitome code, so

[2017-03-24 09:57] Shkrt commented on #31
My simple approach:
[code]

[code]
of course, if there is no need to hardcode the credentials, you can freely use the capabilities of your app's authentication solution, i.e Sorcery, Devise, etc.

[2017-04-05 12:50] andrey-skat opened #80 "New gem version"
Maybe it's time to release new version of gem? :)

[2017-04-14 21:12] tlball commented on #40
I agree with DrSayre. I would love to see asset generation documented. I had to dig a bit to discover the `-a` flag.

[2017-04-20 15:59] RaviAsnani commented on #16
+1

[2017-04-20 16:25] andyhite commented on #16
The pull request I linked previously contains a way to do this, but it seems like no PRs are being merged any time soon...if you absolutely need it, you can use my fork.

[2017-05-08 13:15] moku-io commented on #80
+1

[2017-08-02 16:18] MattPorto commented on #36
When I try to use this settings, after login and try to access http://localhost:3000/api/doc, I'm redirected to http://localhost:3000/users/sign_in and Rails raise `ActionController::UnknownFormat` error, how can I fix it?

[2017-08-02 19:26] jejacks0n commented on #36
@MattPorto mount the engine above the route/constraint/devise/etc. that's redirecting you to users/sign_in?

[2017-11-06 07:26] moritzmair opened #82 "Missing template apitome/docs/simulate"
What is the problem here? Anyone else has this issue?

`Missing template apitome/docs/simulate with {:locale=>[:de], :formats=>[:html], :variants=>[], :handlers=>[:raw, :erb, :html, :builder, :ruby, :haml, :jbuilder]}.`

This occures when I click the simulate button in the generated docs.

[2017-11-06 15:26] jsmartt commented on #82
I may recall seeing this when using the latest version released to rubygems.org, but not with the latest on master. Try putting the following in your Gemfile to see if it fixes your issue:

[code]

[2017-11-07 09:31] moritzmair commented on #82
That helped! Thanks. Even the released version fixed the issue. I forgot to try `bundle update apitome` first. Thanks!

[2017-11-07 09:31] #82 closed

[2017-11-15 15:18] gayle opened #84 "Left-navigation not highlighting correctly sometimes"
I have some JSON documentation that was generated by the https://github.com/zipmark/rspec_api_documentation gem, and we are using this gem to display the documentation.

I've noticed some of the left-navigation menu items don't highlight correctly.  I am not 100% sure whether the problem is with the generation of the JSON or whether it's a problem with the display and the javascript highlighting t

[2017-11-15 15:23] jsmartt commented on #84
Hi @gayle, I noticed in your test app Gemfile you are using the latest released version on RubyGems.org, but that is a bit behind the latest on the GitHub repo. Please try putting the following in your Gemfile and see if it fixes your issue:

`gem 'apitome', git: 'https://github.com/jejacks0n/apitome.git', ref: '82fee54'`

[2017-11-15 15:35] gayle commented on #84
Thanks for your quick response.  That is a great thought.  I updated the version and pushed up the new Gemfile/Gemfile.lock.

That fixed _most_ of the issues, thank you!

The one that's still not working right is "API Response Codes and Messages".

* When I click "Request Status" it now highlights "API Response Codes and Messages" as I would expect, which it didn't before.
* If I click on any of t

[2017-11-15 15:42] jsmartt commented on #84
I'd love for it to be released soon as well. There's an open issue for that (#80), but I'm unaware of any timeline. And I totally understand company policies like that, even if it doesn't really make sense. Locking to a specific commit SHA is even more secure/deterministic than a version on RubyGems, as it is ensured to be constant. Any code change would produce a new SHA, but you can always yank

[2017-11-21 09:17] obromios commented on #39
I had the same problem. I do not use vim. I solved it by following setting up an initializer as per this [blog](https://blog.codeship.com/producing-documentation-for-your-rails-api/), i.e.
[code]

[2017-12-21 13:45] nahaylo commented on #80
it's been long time when since last gem was created.

0.1.0 - April 12, 2015 (3.62 MB)

[2017-12-21 15:59] jejacks0n commented on #80
master works well? you've been using it and it's solid?

[2017-12-21 16:00] jsmartt commented on #80
It's been working well for me 👍

[2017-12-22 09:37] nahaylo commented on #80
I've fixed the build status on homepage https://github.com/jejacks0n/apitome/pull/86
@jsmartt could you review it and merge?

It looks like a build is failed so we need to fix it before creating a new gem

[2017-12-22 16:10] nahaylo commented on #80
Also, my coworker try to fix the issue with failed tests on travis.
He made a changes to travis config and now it works fine, but tests still fail.

Please check this https://github.com/jejacks0n/apitome/pull/87

[2018-01-15 01:06] nrvakil opened #88 "There is no configuration option as "parent_controller"?"
Documentation mentions a configuration option for setting the parent controller with "parent_controller" key. But this raises undefined method parent_controller exception. What is the option then?

Thanks.

[2018-01-15 01:57] nrvakil commented on #31
[code]
This doesn't seem to work. It does not fire the auth popup. Directly goes to the documentation. Any I am missing?

Thanks.

[2018-01-15 06:56] Shkrt commented on #31
@nrvakil Maybe you've just forgot to restart the app? I have two apps working with this kind of setup.

[2018-01-15 09:35] nrvakil commented on #31
@Shkrt - the issue was the browser had remembered the username and password from another api and I had kept them constant. Changing them made it work.

Thanks a lot.

[2018-02-09 19:00] bf4 commented on #80
@jejacks0n maybe generate a 'pre' release, so we can at least install from rubygems ?

[2018-03-05 14:24] seanfcarroll commented on #51
Link is dead

[2018-07-26 09:59] obromios commented on #80
It would be great if you can release a new version of the gem, or at least change the documentation to suggest the last solid commit of the gem e.g.
[code]
rather than just ```gem 'apitome'```
or even just add a comment to this issue stating the latest solid commit.

[2018-07-30 16:32] #80 closed

[2018-07-30 16:42] jsmartt commented on #80
I just released version `0.2.0` 🎉

[2018-07-31 04:38] obromios commented on #80
When I tried version 0.2.0 I saw the following error when I tried to start the rails server:

[code]
I note that issue #32 also saw this problem. Prior to the upgrade I was using
`gem 'apitome', git: 'https://github.com/jejacks0n/apitome.git', ref: '8fbf5aa'`

[2018-07-31 14:27] jsmartt commented on #80
@obromios, can you provide some more context on your environment? What version of Ruby & Rails? Full stack-trace?

[2018-07-31 22:52] obromios commented on #80
I have attached the stack trace.  I am using rails 5.2.0 and ruby 2.4.4.  Please let  me know if you need any more information.

[temp.txt](https://github.com/jejacks0n/apitome/files/2247348/temp.txt)

[2018-08-01 08:38] nahaylo commented on #80
@obromios what kind of environment you use: production or development?

I've tried on development and it works fine
[code]

[2018-08-02 06:43] obromios commented on #80
It is occurring in development.  Also note that I generated the app in api only mode, so there is no app/assets folder.

[2018-08-02 14:46] jsmartt commented on #80
Even in API-only mode, you will need to have the necessary rails frameworks required to support this engine, which serves html and javascript content via templates.  I too have an api-only app, and here's what I have included:

[code]

If you're not requiring a few of those, try including them 1 by 1 and see if it fixes your issue.

[2018-08-02 23:15] obromios commented on #80
I was missing

`require 'sprockets/railtie'`

Do you think you need to mention this in the README?

Anyway, it appears to be all working now, thank you.

[2018-08-03 22:16] obromios commented on #80
That makes sense.

On Fri, Aug 3, 2018 at 9:22 AM Jared Smartt <notifications@github.com>
wrote:

[2018-08-08 13:50] alimac opened #95 "undefined local variable or method apitome `apitome' after upgrading to 0.2.0"
Hi folks!

Just upgraded `apitome` gem from version `0.1.0` to `0.2.0`, and getting the following error when visiting the API docs page:

[code]
![screen shot 2018-08-07 at 10 15 48 am](https://user-images.githubusercontent.com/1930627/43840836-55da20d4-9ae7-11e8-90a5-b6d7f1eaa18c.png)

Error points to this line:
https://github.com/jejacks0n/apitome/blob/master/app/views/apitome/docs/_example.html

[2018-08-08 15:42] jejacks0n commented on #95
it's how engines are namespaced and routes get defined.

[2018-08-08 15:43] jejacks0n commented on #95
what version of rails are you using?

https://github.com/jejacks0n/apitome/blob/master/lib/apitome/engine.rb#L3

This line should make that work, so I'm a little confused.

[2018-09-07 17:39] baffers commented on #95
+1

[2018-09-07 18:07] jsmartt commented on #95
What version of rails are people using that are experiencing this issue? cc @baffers, @brettfishman, @alimac

Master has the `apitome` namespace removed, but it's my understanding that the namespace shouldn't hurt.

[2018-09-07 18:09] baffers commented on #95
I'm using 5.2.0

[2018-09-07 18:10] alimac commented on #95
My sincere apologies for not posting earlier... I'm using rails **5.2.1** and ruby **2.5.1**.

[2018-09-07 18:46] brettfishman commented on #95
Same - 5.2.x

[2018-09-07 19:27] jejacks0n commented on #95
It looks like that's already fixed in master. I'd recommend pointing to `github: "jejacks0n/apitome", ref: "c779d67"`.

If y'all report that it's working as expected in other ways I can cut a release. In general though this is really good advice and is helpful for open source devs -- check master, and then try using it if it looks fixed. Reporting that things are working in master is far more valu

[2018-09-07 19:27] #95 closed

[2018-09-20 17:01] dianpan commented on #95
@jejacks0n - just tested the fix by pointing to `github: "jejacks0n/apitome", ref: "c779d67"`
It has indeed solved the issue, so cutting another release would be appreciated.

[2018-10-22 11:00] ne-ha opened #97 "NameError: uninitialized constant Apitome"
I am using:

ruby '2.5.1' and 'rails', '5.0.2' and using capistrano for deploying.
When i try to deploy i am getting the error
[code]

```config/initializer/apitome.rb```
[code]

And my spec_helper includes
[code]
I am not able to solve this problem.
Thanks in advance!

[2018-10-22 14:40] jsmartt commented on #97
I'm guessing this is related to #95. Please try the solution posted in the comments

[2018-10-31 08:59] obromios opened #98 "Sidebar disappears when placed in layout."
I asked the following [question on SO](https://stackoverflow.com/questions/53054989/apitome-sidebar-disappears-when-included-in-a-layout) but received no answer.

I am using the ```rspec_api_documentation``` and ```apitome``` gems in a version 5.2 ruby on rails app.

This produces excellent documentation, and has a sidebar (div#sidebar) to allow quick access to the correct part of the documentatio

[2018-10-31 14:53] jsmartt commented on #98
This is how it's done in the standard template: https://github.com/jejacks0n/apitome/blob/master/app/views/layouts/apitome/application.html.erb#L17-#L19

Basically, call `<%= render 'navigation' %>`

[2018-11-01 00:10] obromios commented on #98
This worked thank you.   I created a new layout at ```app/views/layouts.apidocs.html.erb ``` which  rendered ```render 'apitome/docs/navigation'```.  I then configured this layout in the
apitome initialiser.
[code]
After some  css tinkering, it all looked good.

[2018-11-01 10:04] obromios commented on #98
Hi, I regret that I am not quite there. Everything worked in development, but when I deployed to heroku and tried to access the documentation from production, I received the following error:

[code]
I think this is happening within the ```apitome/docs/navigation``` code.

Looking at the app, the file ```/app/doc/api/authentication/login_user.json``` has been pushed to heroku, so the problem appear

[2018-11-01 14:07] jsmartt commented on #98
Can you provide a full stacktrace?

[2018-11-04 04:02] obromios commented on #98
Hi

When I checked more carefully, it turned out that not all the api/doc files had been deployed to production due to a legacy line in my .gitignore file.  It now all works well.

Thank you for your assistance.

[2018-11-04 04:02] #98 closed

[2018-12-07 14:51] chrisgibson commented on #95
@jejacks0n I can confirm that master fixes the reported problem for me as well. Are there plans to cut a new release soon?

[2018-12-21 17:13] akhsunna commented on #84
Hey guys!

I had similar issue even with latest version of gem (0.2.0).

After investigation of the JS code I noticed that the problem in bootstrap's scrollspy.
It seems that it initializes variables too early (there's some logic with sections offsets, and offsets are somehow smaller than they are in the end).

So currently I've ended up with a small hack - I've added 1 second timeout before runni

[2019-01-10 15:09] garyjohnson commented on #95
@jejacks0n Would love to see an update pushed for this issue as I'm still referencing the commit hash.

[2019-01-11 13:51] FunkyloverOne commented on #84
@jsmartt could you take a look on that hach by @akhsunna ? It's actually helping me as well, maybe we should merge it or do something similar & better if possible in the main repo?

[2019-01-11 17:01] jsmartt commented on #84
Has anyone tried placing the scrollspy initialization code inside the `$(document).ready(function()` ? Similar to [this example](https://www.w3schools.com/bootstrap/bootstrap_ref_js_scrollspy.asp)

[2019-01-11 17:17] akhsunna commented on #84
Yes, it didn't help.

[2019-02-25 14:33] belgoros opened #103 "rails generate apitome:install fails - undefined method `assets'"
When using with Rails API, `5.2.2` and running `rails generate apitome:install` it  fails with errors:
[code]

What am I missing ?
I'm using
[code]
Thank you.

[2019-03-18 22:30] Equable commented on #103
uncomment `require "sprockets/railtie"` in `config/application.rb`

[2019-03-27 23:53] dandunckelman commented on #97
I've tried the suggestion in #95 (basing my gem on latest master release), but I still get this error:

[code]

I'm on Ruby v2.5.3 and Rails v5.2.2.1

[2019-03-28 14:04] jsmartt commented on #97
What about your Gemfile? Seems like something isn't getting loaded.

Please ensure `gem 'apitome'` is in your Gemfile. If that isn't the issue, maybe try adding `require 'apitome'` to the beginning of your initializer.

[2019-03-28 16:09] dandunckelman commented on #97
@jsmartt thanks.

Trying now...

[2019-03-28 16:20] dandunckelman commented on #97
@jsmartt that resolved it.

That should have been obvious to me, but thanks!

I wonder why it's not being auto-required.

[2019-03-28 16:29] jsmartt commented on #97
Cool. Check to make sure eager-loading or auto-loading is enabled for your different environments. `config/environments/<development|production|test>.rb`.

How you are starting the application may be affecting it also. Rails should load bundler and take care of everything, but if running `bundle exec rails server` fixes it for you, you can look into why rails isn't using Bundler to load your Gemfi

[2019-03-28 16:29] #97 closed

[2019-03-28 16:45] dandunckelman commented on #97
@jsmartt Before changing `eager_load`, I was getting this error:

![image](https://user-images.githubusercontent.com/1153702/55176194-4d6c1400-5146-11e9-89be-ddf5308f609c.png)

Then I set `config.eager_load = true` for development and got this error:

    /usr/local/bundle/gems/bootsnap-1.4.1/lib/bootsnap/load_path_cache/core_ext/kernel_require.rb:62:in `load': No such file to load -- apitome/docs

[2019-03-28 18:51] jejacks0n commented on #97
I wonder why it doesn't get loaded.

[2019-04-13 22:08] jejacks0n commented on #103
This should be fixed in master. Please confirm.

[2019-04-13 22:08] #103 closed

[2019-04-13 22:10] jejacks0n commented on #88
It is in there.

https://github.com/jejacks0n/apitome/blob/master/lib/apitome/configuration.rb#L28

The example usage would be

[code]

[2019-04-13 22:10] #88 closed

[2019-04-13 22:11] #10 closed

[2019-04-13 22:12] #11 closed

[2019-04-13 22:44] #18 closed

[2019-04-13 22:45] jejacks0n commented on #37
I'm not sure if this was already resolved or not, but the log directory used to be required to be there -- thus the .keep. It's probably ok, since it doesn't contain any log files. Thanks for the heads up.

[2019-04-13 22:45] #37 closed

[2019-04-13 22:45] #31 closed

[2019-04-13 22:48] jejacks0n commented on #36
I think the best way to handle a lot of this moving forward would be to use the `parent_controller` configuration to specify a controller you might want to use as a base class. This can do all sorts of things like before_filters etc.

[2019-04-13 22:48] #36 closed

[2019-04-13 22:48] #51 closed

[2019-04-13 22:51] #40 closed

[2019-04-13 23:31] jejacks0n commented on #60
Should be fixed in master now.

[2019-04-13 23:31] #60 closed

[2019-04-13 23:31] jejacks0n commented on #50
Should be fixed in master, and I'll cut a release for this shortly.

[2019-04-13 23:31] #50 closed

[2019-04-13 23:32] jejacks0n commented on #33
No, I don't think we'll let html through here.

[2019-04-13 23:32] #33 closed

[2019-04-13 23:32] #41 closed

[2019-04-13 23:32] #26 closed

[2019-04-13 23:33] jejacks0n commented on #42
I think this should be fixed in master. Can you confirm please?

[2019-04-13 23:34] #63 closed

[2019-04-13 23:36] jejacks0n commented on #38
Should be fixed in master! Thanks. =)

[2019-04-13 23:36] #38 closed

[2019-04-13 23:37] jejacks0n commented on #34
This should be addressed now. Thanks.

[2019-04-13 23:37] #34 closed

[2019-04-13 23:37] #21 closed

[2019-04-13 23:59] jejacks0n commented on #57
Closing this one for #16

[2019-04-13 23:59] #57 closed

[2019-04-13 23:59] #42 closed

[2019-04-15 08:56] belgoros commented on #103
@jejacks0n Hi, thank you for your feedebalk. Just retried with `apitome (0.3.0)` version, still the same error.
@Equable AS I'm using Rails API only version, the suggested line `require "sprockets/railtie"`is already commented. Why should I uncomment it ?

[2019-04-15 09:21] belgoros opened #105 "[DOCS] Link to customization examples broken"
The [link](https://github.com/jejacks0n/apitome/blob/master/tree/master/app/views/apitome/docs) provided in [Customization](https://github.com/jejacks0n/apitome#customization) section in README is broken and returns `404`.

[2019-04-15 14:45] jsmartt commented on #103
@belgoros, if you're using this gem, you're using the assets/pipeline. 😉 This gem serves CSS & Javascript using the standard Rails assets mechanisms, so even though your main app is API-only, you'll need `sprockets/railtie` to serve these docs.

[2019-04-15 14:48] belgoros commented on #103
@jsmartt Yeahn I got, it. After uncommenting out `require "sprockets/railtie"` in `config/application.rb`, the initializer was created without errors :).

[2019-04-15 16:29] jejacks0n commented on #105
Cheers!

[2019-04-15 16:29] #105 closed

[2019-04-19 10:32] guolijun opened #106 "non-latin characters support"
`config.url_formatter = -> (str) { str.gsub(/\.json$/, '').underscore.gsub(/[^[:word:]]/, '-') }`

maybe better then

`config.url_formatter = -> (str) { str.gsub(/\.json$/, '').underscore.gsub(/[^0-9a-z\:]+/i, '-') }`

[2019-04-19 15:59] jejacks0n commented on #106
I'd agree with that. Do you want to submit the PR? I'd merge it.

[2019-04-19 16:27] jejacks0n commented on #106
So, I just tracked down [:word:] and learned about POSIX bracket expressions, _and_ I double checked this on some scenarios and it indeed appears to work well.

Thanks for teaching me something today!

[2019-04-22 17:38] jejacks0n commented on #106
This was fixed with #107 -- Thanks @guolijun!

[2019-04-22 17:38] #106 closed

[2019-04-26 06:04] obromios opened #108 "Seeing undefined method 'simulated path'"
Using ```rails 5.2.2.1``` and ```ruby 2.5.5``` with ``` apitome 0.3.0```, am getting the following error when access the documentation path:
[code]
My initializer uses default settings, apart from
[code]
At the end of my routes file, I have
`mount Apitome::Engine => 'apidocs#index'`
and I do have authentication using
[code]
As this looks similar to this [ issue](https://github.com/jejacks0n/apitom

[2019-11-08 15:11] sergey-koba-mobidev opened #113 "Does it work with Sprockets 4?"
After migrating to Rails 6 the engine stopped working with the next error
[code]

[2020-01-29 14:04] KiranJosh opened #114 "JSON::ParserError in Apitome::Docs#index"
Started GET "/api/docs" for ::1 at 2020-01-29 19:34:08 +0530
Processing by Apitome::DocsController#index as HTML
  Rendering /home/kiran/.rvm/gems/ruby-2.6.0/gems/apitome-0.3.0/app/views/apitome/docs/index.html.erb within layouts/apitome/application
  Rendered /home/kiran/.rvm/gems/ruby-2.6.0/gems/apitome-0.3.0/app/views/apitome/docs/_explanation.html.erb (Duration: 1.6ms | Allocations: 6077)
  Re

[2020-01-30 19:09] bf4 commented on #114
fwiw, I'm researching this now myself. looks like you're on rails 6.0.2.1.  I'm on Rails 5.2.  did you just upgrade rails? have you ever had it working?

[2020-01-30 19:10] jejacks0n commented on #114
Any fix for this would be appreciated. =) I currently don't have time to look into it.

[2020-01-30 19:26] bf4 commented on #114
I think this is a duplicate of https://github.com/jejacks0n/apitome/issues/113

[2020-01-30 20:13] bf4 commented on #113
fwiw

I've now removed from my `config/initializers/assets.rb`

[code]

and added to my `app/assets/config/manifest.js`

[code]
based on following the errors, and it doesn't raise anymore but debug assets are 500ing

[2020-01-30 22:38] bf4 commented on #114
Issue for me appears to be that rspec_api_documentation may return the string `"[binary data]"` as the response body, and this makes apitome blow up.

https://github.com/zipmark/rspec_api_documentation/blob/560c3bdc7bd5581e7c223334390221ecfc910be8/lib/rspec_api_documentation/client_base.rb#L88-L96

I'd like to propose adding a user-configurable error handler to handle this in addition to a fix

ei

[2020-01-30 22:56] bf4 commented on #114
I made a PR https://github.com/jejacks0n/apitome/pull/115

gonna test it in my app

[2020-01-31 07:04] KiranJosh commented on #114
I have integrated apitome in new app only. It was working before upgrading rspec-rails to 4.0.0.

[2020-01-31 12:15] KiranJosh commented on #114
Thanks, its working.

[2020-01-31 18:19] bf4 commented on #114
Issue was a change in rack and naive logic in rspec api doc with poor handling in apitome

[2020-05-14 22:27] alejandro-vericatch commented on #114
Hey guys, could you release the fixes #115? I would appreciate it. Thanks!

[2020-05-29 19:28] nirname commented on #39
[code]

[2020-06-29 11:43] Payal13 commented on #114
I am facing the same issue. What should I do ? is this fix released?

[2020-06-30 16:19] alejandro-vericatch commented on #114
Have a look at issue #115, there fix the problem.

[2020-07-20 03:56] ukazap commented on #114
Update the Gemfile for temporary fix:

[code]

[2020-08-19 15:40] samnissen opened #117 "Re-routing not working?"
I cannot redirect Apitome routes.

Per #36, I have done the following:

[code]

And added my custom routing
[code]

[code]

`rails s` and Visiting api.localhost:3000/docs/v1 raises `ActionController::RoutingError (No route matches [GET] "/docs/v1")`

I have also tried writing out explicitly the Apitome routes, which gives me new routes, but they don't work:

[code]

[code]

Again, `rails s` and Vi

[2020-08-20 14:27] samnissen commented on #117
Nevermind, this is to do with my not being configured for testing subdomains in development. While I had added a custom domain and subdomain to localhost in my hosts file, I hadn't:

- bound rails server to 0.0.0.0
[code]
- added my custom development domain to my development config
[code]

[2020-08-20 14:27] #117 closed

[2020-08-27 07:41] ShamoX commented on #114
@jejacks0n Can you release the fix please ?
I made a PR #118 that fixes the build

[2020-11-04 16:56] PhilTee opened #119 "code_theme not respecting underscore"
I've recently run into an issue with code_theme not being recognised correctly.
This is on Rails 5.2.4.4, it seemed to be working correctly on Rails 5.2.3

Using an underscore in the theme for config.code_theme seems to results in an error stating
ActionView::Template::Error (The asset "apitome/highlight_themes/solarized_light.css" is not present in the asset pipeline.

Changing the underscore to

[2020-11-19 14:14] swapnilchincholkar commented on #8
Simply using the generator didn't work for me for rails.6 API only app.

1. After using the generator
2. I changed configs from `config/initializers/apitome.rb` as
`config.css_override = "/stylesheets/apitome/application.css"`
and
`config.js_override = "/javascripts/apitome/application.js"`
3. Manually copied theme file from gem's code to `public/stylesheets/apitome/`

That also gave issue post de

[2020-12-08 08:59] umarali commented on #8
Didn't understand this part. Could you please elaborate?

[2021-01-14 10:51] TeamNautilus opened #121 "Ruby 3.0.0"
We tried to update the **ruby** version to **3.0.0** (with ruby 2.7.2 it's ok instead) but after the command *bundle* we received the message:

*apitome-0.3.0 requires ruby version ~> 2.4, which is incompatible with the current version, ruby 3.0.0p0*

we use the version **0.3.0** of apitome .
Any idea?

Thank you

[2021-01-14 10:55] ShamoX commented on #121
Either the package maintainers accept to support ruby 3.0 from now on and should change `~> 2.4` to `>= 2.4, < 4` or you can't use it with ruby 3...

[2021-01-15 16:22] andrewsheelan commented on #121
+1

Facing the same issue here as well.

[2021-01-15 16:24] jejacks0n commented on #121
Would accept a PR / release this weekend if someone can put one together -- sorry I don't have time to.

[2021-02-17 18:20] raorao commented on #121
any update on this? Based on some local testing, the gem works fine on ruby 3.

[2021-02-17 21:43] jejacks0n commented on #121
Thanks everybody. I'll review and try to cut a release by this weekend. Hold me to account if I don't. 😅

[2021-03-09 20:20] joshkurien commented on #121
Any update on this @jejacks0n 👀
thank you 🙏

[2021-04-18 00:03] daviidy commented on #114
It worked for me. Thanks!

[2021-05-19 14:16] EdouardPan commented on #121
Sorry to insist 😃
Any update on this @jejacks0n 👀
thank you 🙏

[2021-06-15 21:16] asimy commented on #121
@jejacks0n Thanks for your work on this! I wanted to check in and see if you were publishing a release?

[2021-08-03 06:02] ratnarajsukale commented on #114
`gem "apitome", github: "jejacks0n/apitome"
`
this works

[2021-08-06 07:57] sergei-matheson opened #124 "Upgrade jQuery to v3"
The version of jQuery included in Apitome is relatively outdated, and has known security vulnerabilities. Are there any plans to upgrade jQuery to a more recent version?

[2022-02-07 15:30] gschmidt-msft commented on #108
In the `config/initializers/apitome.rb`, try adding `config.simulated_response = false`

[2022-02-08 00:35] obromios commented on #108
Thank you, but I have refactored so did not need apitome anymore, so cannot test this. Hope someone else can confirm this works.

[2022-02-08 22:57] xrnm commented on #114
Seeing as #115  has been merged should this be marked as closed?